.App {
  text-align: center;
  padding: 20px;
  width: 100%;
}

.MuiPaper-root {
  margin: 20px auto;
  width: 100%;
}

.MuiListItemText-root {
  flex: none;
}

.MuiListItem-root {
  border-bottom: 1px solid #ffffff;
}

.MuiButton-containedPrimary {
  background-color: #1976d2;
  border-radius: 20px;
}

.MuiButton-containedPrimary:hover {
  background-color: #115293;
}
